@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}
li {
  list-style: none;
}
.box {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  position: absolute;
  left: 42%;
  top: 45%;
  transform: translate(-50%,-50%);
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(13deg);
  /* -webkit-animation: move 5s linear infinite; */

  -webkit-animation: rotate 20s infinite;
  animation-timing-function: linear;
}
@-webkit-keyframes rotate{
  from{transform: rotateX(0deg) rotateY(0deg);}
  to{transform: rotateX(360deg) rotateY(360deg);}
}
.minbox {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50px;
  top: 30px;
  -webkit-transform-style: preserve-3d;
}
.minbox li {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
}
.maxbox {
  width: 800px;
  height: 400px;
  position: absolute;
  left: 0px;
  top: -22px;
  -webkit-transform-style: preserve-3d;
}
.maxbox li {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.2;
  transition: all .4s;
}
.minbox li:nth-child(1) {
  background: url(../images/01.png) no-repeat 0 0;
  -webkit-transform: translateZ(50px);
}
.minbox li:nth-child(2) {
  background: url(../images/02.png) no-repeat 0 0;
  -webkit-transform: rotateX(180deg) translateZ(50px);
}
.minbox li:nth-child(3) {
  background: url(../images/03.png) no-repeat 0 0;
  -webkit-transform: rotateX(-90deg) translateZ(50px);
}
.minbox li:nth-child(4) {
  background: url(../images/04.png) no-repeat 0 0;
  -webkit-transform: rotateX(90deg) translateZ(50px);
}
.minbox li:nth-child(5) {
  background: url(../images/05.png) no-repeat 0 0;
  -webkit-transform: rotateY(-90deg) translateZ(50px);
}
.minbox li:nth-child(6) {
  background: url(../images/06.png) no-repeat 0 0;
  -webkit-transform: rotateY(90deg) translateZ(50px);
}
.maxbox li:nth-child(1) {
  background: url(../images/1.png) no-repeat 0 0;
  -webkit-transform: translateZ(100px);
}
.maxbox li:nth-child(2) {
  background: url(../images/2.png) no-repeat 0 0;
  -webkit-transform: rotateX(180deg) translateZ(100px);
}
.maxbox li:nth-child(3) {
  background: url(../images/3.png) no-repeat 0 0;
  -webkit-transform: rotateX(-90deg) translateZ(100px);
}
.maxbox li:nth-child(4) {
  background: url(../images/4.png) no-repeat 0 0;
  -webkit-transform: rotateX(90deg) translateZ(100px);
}
.maxbox li:nth-child(5) {
  background: url(../images/5.png) no-repeat 0 0;
  -webkit-transform: rotateY(-90deg) translateZ(100px);
}
.maxbox li:nth-child(6) {
  background: url(../images/6.png) no-repeat 0 0;
  -webkit-transform: rotateY(90deg) translateZ(100px);
}

/*鼠标移入后样式*/
.maxbox:hover li:nth-child(n+0) {
  opacity: 0.6;
  transition: all .4s;

}
.maxbox:hover {
  width: 800px;
  height: 400px;
  position: absolute;
  left: -46px;
  top: -72px;
  -webkit-transform-style: preserve-3d;
}
.maxbox:hover li {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 0;
  top: 0;
}
.maxbox:hover li:nth-child(1) {
  background: url(../images/1.png) no-repeat 0 0;
  -webkit-transform: translateZ(200px);
}
.maxbox:hover li:nth-child(2) {
  background: url(../images/2.png) no-repeat 0 0;
  -webkit-transform: rotateX(180deg) translateZ(200px);
}
.maxbox:hover li:nth-child(3) {
  background: url(../images/3.png) no-repeat 0 0;
  -webkit-transform: rotateX(-90deg) translateZ(200px);
}
.maxbox:hover li:nth-child(4) {
  background: url(../images/4.png) no-repeat 0 0;
  -webkit-transform: rotateX(90deg) translateZ(200px);
}
.maxbox:hover li:nth-child(5) {
  background: url(../images/5.png) no-repeat 0 0;
  -webkit-transform: rotateY(-90deg) translateZ(200px);
}
.maxbox:hover li:nth-child(6) {
  background: url(../images/6.png) no-repeat 0 0;
  -webkit-transform: rotateY(90deg) translateZ(200px);
}